<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elsapp.els">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" />

        <activity
            android:name=".CarLoanActivity"
            android:label="@string/title_activity_car_loan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleSelect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeLoan" />
        <activity
            android:name=".LoanSelec"
            android:label="@string/title_activity_loan_selec"

            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".login"></activity>
        <activity android:name=".LogInActivity">

        </activity>

        <activity android:name=".RegistrationActivity"></activity>

        <activity android:name=".ForgetPasswordActivity"></activity>

        <activity android:name=".Eligibility_Result"></activity>

        <activity android:name=".Failure_Result"></activity>

    </application>

</manifest>